body{
  font-family: Georgia, serif;
  background-color: #74747C;
}

li {
  list-style: none;
  font-family: Arial, san-serif;
  color: #BEBEC1;
}

#highlight {
  font-family: 'Open Sans', sans-serif;
  color: black;
}


/*.color-primary-0 { color: #74747C }
.color-primary-1 { color: #BEBEC1 }
.color-primary-2 { color: #939399 }
.color-primary-3 { color: #595863 }
.color-primary-4 { color: #3C3B47 }*/

/*.rgba-primary-0 { color: rgba(116,116,124,1) }
.rgba-primary-1 { color: rgba(190,190,193,1) }
.rgba-primary-2 { color: rgba(147,147,153,1) }
.rgba-primary-3 { color: rgba( 89, 88, 99,1) }
.rgba-primary-4 { color: rgba( 60, 59, 71,1) }*/
